In [132]:
import pandas as pd

In [133]:
movies=None
movies=pd.read_csv("IMDb Movies India.csv",encoding='ISO-8859-1')

movies.index=range(movies.shape[0])
movies=movies.dropna(subset=['Rating','Genre','Actor 1','Actor 2','Actor 3'])

movies["Duration"]=movies["Duration"].str.extract("(\d+)").astype("Int16")
movies["Year"]=movies["Year"].str.extract("(\d+)").astype("Int16")
print(movies.shape)

movies.head()
# movies.Rating.describe()
movies.isnull().sum()
# movies.median()
# movies.dtypes
# movies.describe()
# movies["Actor 3"].nunique()

(7558, 10)

Name           0
Year           0
Duration    1899
Genre          0
Rating         0
Votes          0
Director       0
Actor 1        0
Actor 2        0
Actor 3        0
dtype: int64

In [134]:
movies.iloc[1]

Name                #Yaaram
Year                   2019
Duration                110
Genre       Comedy, Romance
Rating                  4.4
Votes                    35
Director         Ovais Khan
Actor 1             Prateik
Actor 2          Ishita Raj
Actor 3     Siddhant Kapoor
Name: 3, dtype: object

In [135]:
from sklearn.impute import SimpleImputer
mode_imputer=SimpleImputer(strategy="most_frequent")
movies[["Duration"]]=mode_imputer.fit_transform(movies[["Duration"]])
# movi
print(movies.Duration.isnull().sum())

movies.isnull().sum()

0

Name        0
Year        0
Duration    0
Genre       0
Rating      0
Votes       0
Director    0
Actor 1     0
Actor 2     0
Actor 3     0
dtype: int64

In [136]:
movies.nunique()

Name        7038
Year          92
Duration     174
Genre        416
Rating        84
Votes       2030
Director    2956
Actor 1     2415
Actor 2     2783
Actor 3     3031
dtype: int64

In [137]:
movies["Actor 1"] = movies.groupby('Actor 1')['Rating'].transform("mean")
movies["Actor 2"] = movies.groupby('Actor 2')['Rating'].transform("mean")
movies["Actor 3"] = movies.groupby('Actor 3')['Rating'].transform("mean")
movies["Director"] = movies.groupby('Director')['Rating'].transform("mean")
# temp_movies=movies
# # 2. Replace the original Genre column with these calculated means
# temp_movies['Actor 1'] = actor_means

# print(movies[['Actor 1', 'Rating']].head())
# actor_means
movies.sort_values(by=["Actor 1","Actor 2","Actor 3"],ascending=False).head()

,Name,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
8339,Love Qubool Hai,2020,94.0,"Drama, Romance",10.0,5,10.0,10.0,10.0,10.0
5410,Half Songs,2021,79.0,"Music, Romance",9.7,7,9.7,9.7,9.7,9.7
5077,Gho Gho Rani,2019,105.0,"History, Romance",9.4,47,9.4,9.4,9.4,9.4
6852,June,2021,93.0,Drama,9.4,18,9.4,9.4,9.4,9.4
14222,The Reluctant Crime,2020,113.0,Drama,9.4,16,9.4,9.4,9.4,9.4

In [138]:
movies.sort_values(by=["Rating","Votes"],ascending=False).head(10)
# we can see there are times  when the votes are too less causing absurd ratings of 9+

,Name,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
8339,Love Qubool Hai,2020,94.0,"Drama, Romance",10.0,5,10.0,10.0,10.0,10.0
5410,Half Songs,2021,79.0,"Music, Romance",9.7,7,9.7,9.7,9.7,9.7
2563,Breed,2020,120.0,Drama,9.6,48,9.6,6.8,9.6,9.6
5077,Gho Gho Rani,2019,105.0,"History, Romance",9.4,47,9.4,9.4,9.4,9.4
6852,June,2021,93.0,Drama,9.4,18,9.4,9.4,9.4,9.4
14222,The Reluctant Crime,2020,113.0,Drama,9.4,16,9.4,9.4,9.4,9.4
8344,Love Sorries,2021,101.0,"Comedy, Drama, Romance",9.3,79,9.3,9.3,9.3,9.3
1314,Ashok Vatika,2018,97.0,Drama,9.3,7,9.3,9.3,9.3,9.3
11843,Refl3ct,2021,65.0,Sci-Fi,9.3,467,9.3,9.3,9.3,9.3
5125,God of gods,2019,90.0,Documentary,9.3,46,9.3,9.3,9.3,9.3

In [139]:
from sklearn.preprocessing import MultiLabelBinarizer
genre_lists = movies['Genre'].apply(lambda x: x.split(', '))

pd.set_option('display.max_columns', None)

mlb = MultiLabelBinarizer()
genre_encoded = mlb.fit_transform(genre_lists)
# genre_encoded
genre_df = pd.DataFrame(genre_encoded, columns=mlb.classes_, index=movies.index).astype(bool)
genre_df

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,History,Horror,Music,Musical,Mystery,News,Romance,Sci-Fi,Sport,Thriller,War,Western
1,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False
5,False,False,False,False,True,False,False,True,False,False,False,False,False,True,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,True,False,False,False,True,False
8,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True,False,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15501,True,False,False,False,False,True,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False
15503,True,False,False,False,False,True,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False
15504,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
15505,True,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False
15508,True,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [140]:
genre_df["Music"]=genre_df["Music"] | genre_df["Musical"]
genre_df=genre_df.drop(["Musical"],axis=1)

(genre_df[genre_df["Music"]==1]).head()

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,History,Horror,Music,Mystery,News,Romance,Sci-Fi,Sport,Thriller,War,Western
5,False,False,False,False,True,False,False,True,False,False,False,False,True,False,False,False,False,False,False,False,False
97,False,False,False,False,False,False,False,True,True,False,False,False,True,False,False,False,False,False,False,False,False
119,False,False,False,False,False,False,False,True,False,False,False,True,True,False,False,False,False,False,False,False,False
133,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True,False,False,False,False,False
175,False,False,False,False,False,False,False,True,False,False,False,False,True,False,False,True,False,False,False,False,False

In [141]:

movies_final = pd.concat([movies, genre_df], axis=1).drop(['Genre','Name'], axis=1)

print(movies_final.head())

   Year  Duration  Rating  Votes  Director   Actor 1   Actor 2   Actor 3  \
1  2019     109.0     7.0      8  7.000000  6.850000  7.000000  7.000000
3  2019     110.0     4.4     35  4.400000  5.420000  4.400000  4.450000
5  1997     147.0     4.7    827  5.358824  4.788889  5.786667  5.766667
6  2005     142.0     7.4  1,086  7.500000  5.300000  6.050000  6.500000
8  2012      82.0     5.6    326  5.600000  5.600000  5.883333  5.600000

   Action  Adventure  Animation  Biography  Comedy  Crime  Documentary  Drama  \
1   False      False      False      False   False  False        False   True
3   False      False      False      False    True  False        False  False
5   False      False      False      False    True  False        False   True
6   False      False      False      False   False  False        False   True
8   False      False      False      False   False  False        False  False

   Family  Fantasy  History  Horror  Music  Mystery   News  Romance  Sci-Fi  \
1   False    False    False   False  False    False  False    False   False
3   False    False    False   False  False    False  False     True   False
5   False    False    False   False   True    False  False    False   False
6   False    False    False   False  False    False  False     True   False
8   False    False    False    True  False     True  False    False   False

   Sport  Thriller    War  Western
1  False     False  False    False
3  False     False  False    False
5  False     False  False    False
6  False     False   True    False
8  False      True  False    False

In [142]:
movies_final.Votes=movies.Votes.str.replace(',', '').astype("Int64")
movies_final.dtypes
# Preprocessing complete!

Year             Int16
Duration       float64
Rating         float64
Votes            Int64
Director       float64
Actor 1        float64
Actor 2        float64
Actor 3        float64
Action            bool
Adventure         bool
Animation         bool
Biography         bool
Comedy            bool
Crime             bool
Documentary       bool
Drama             bool
Family            bool
Fantasy           bool
History           bool
Horror            bool
Music             bool
Mystery           bool
News              bool
Romance           bool
Sci-Fi            bool
Sport             bool
Thriller          bool
War               bool
Western           bool
dtype: object

In [143]:
import pandas as pd
import numpy as np
from sklearn.model_selection import KFold, cross_val_score
from sklearn.metrics import mean_absolute_error

def evaluate_and_fit(df, model, target_col='Rating', n_splits=5):
    X = df.drop(columns=[target_col])
    y = df[target_col]
    kf = KFold(n_splits=n_splits, shuffle=True, random_state=1)
    cv_scores = cross_val_score(model, X, y, cv=kf, scoring='neg_mean_absolute_error')
    mae_scores = -cv_scores
    avg_mae = np.mean(mae_scores)
    model.fit(X, y)
    print(f"Model: {type(model).__name__}")
    print(f"Average MAE ({n_splits} folds): {avg_mae:.4f}")
    print(f"MAE Std Dev: {np.std(mae_scores):.4f}")
    print("-" * 30)
    return model, avg_mae

In [144]:
from xgboost import XGBRegressor
from sklearn.ensemble import RandomForestRegressor

xgb_model, xgb_mae = evaluate_and_fit(movies_final, XGBRegressor(n_estimators=100))
rf_model, rf_mae = evaluate_and_fit(movies_final, RandomForestRegressor(n_estimators=100))

Model: XGBRegressor
Average MAE (5 folds): 0.4379
MAE Std Dev: 0.0058
------------------------------
Model: RandomForestRegressor
Average MAE (5 folds): 0.4165
MAE Std Dev: 0.0071
------------------------------

In [145]:
# XGboost model took the least time(a second or 2) while rf took around 20 seconds+

In [146]:
# from random import randrange 
test=movies_final.head()
print(test)

testX=test.drop("Rating",axis=1)
print(list(test.Rating))
print(xgb_model.predict(testX))
print(rf_model.predict(testX))

   Year  Duration  Rating  Votes  Director   Actor 1   Actor 2   Actor 3  \
1  2019     109.0     7.0      8  7.000000  6.850000  7.000000  7.000000
3  2019     110.0     4.4     35  4.400000  5.420000  4.400000  4.450000
5  1997     147.0     4.7    827  5.358824  4.788889  5.786667  5.766667
6  2005     142.0     7.4   1086  7.500000  5.300000  6.050000  6.500000
8  2012      82.0     5.6    326  5.600000  5.600000  5.883333  5.600000

   Action  Adventure  Animation  Biography  Comedy  Crime  Documentary  Drama  \
1   False      False      False      False   False  False        False   True
3   False      False      False      False    True  False        False  False
5   False      False      False      False    True  False        False   True
6   False      False      False      False   False  False        False   True
8   False      False      False      False   False  False        False  False

   Family  Fantasy  History  Horror  Music  Mystery   News  Romance  Sci-Fi  \
1   False    False    False   False  False    False  False    False   False
3   False    False    False   False  False    False  False     True   False
5   False    False    False   False   True    False  False    False   False
6   False    False    False   False  False    False  False     True   False
8   False    False    False    True  False     True  False    False   False

   Sport  Thriller    War  Western
1  False     False  False    False
3  False     False  False    False
5  False     False  False    False
6  False     False   True    False
8  False      True  False    False
[7.0, 4.4, 4.7, 7.4, 5.6]
[6.9961925 4.4816446 4.7299004 7.291701  5.593929 ]
[6.998 4.416 4.888 7.302 5.645]

In [147]:
# the end
# learned about: pandas str methods,MultiLabelBinarizer
# other concepts were carried over from kaggle mini-courses